################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/repos/Hediyelik/Hediyelik.sln
/source/repos/Hediyelik/Hediyelik.sln
