@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Create">
                <i class="bi bi-plus-circle"></i> Create New Category
            </a>
        </div>
    </div>
</div> <br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Display Order
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>              

        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>
                <td width="50%">
                    @obj.DisplayOrder
                </td>
                <td width="50%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn "><i class="bi bi-pencil-square"></i></a>
                    </div>
                </td>    
                <td width="50%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Catelgory" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-trash3"></i></a>                        
                    </div>
                </td>  
            </tr>
        }
    </tbody>
</table>
